NEXT_PUBLIC_GA_MEASUREMENT_ID=

MAIL_SMTP_PORT=
MAIL_SMTP_SECURE=

MAIL_GATEWAY_NAME=
MAIL_SMTP_HOST=
MAIL_SMTP_USER=
MAIL_SMTP_PASS=
MAIL_FROM=

MAIL_DELIVERY_LOG_ADDRESS=

NEXT_PUBLIC_ECOMAIL_TRACKER_URL=
NEXT_PUBLIC_ECOMAIL_COLLECTOR_HOST=
NEXT_PUBLIC_ECOMAIL_APP_ID=
