<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light only">
  <meta name="supported-color-schemes" content="light">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="email-wrapper"
    style="font-family: 'Open Sans', Arial, sans-serif; color: #1e1e1e; border: 1px solid #efefef; background-color: #ffffff; line-height: 1.5; max-width: 640px; margin: 0 auto; padding:16px">
    <img src="cid:zbawieniepl-logo" alt="Zbawienie.pl" style="width: 250px; height: auto; margin-top: 16px" />

    <table style="width: 100%; border-collapse: collapse; margin: 16px 0">
      <tr>
        <td style="padding: 8px; border: 1px solid #efefef; font-weight: 600">Imię</td>
        <td style="padding: 8px; border: 1px solid #efefef">{FIRST_NAME}</td>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #efefef; font-weight: 600">Adres e-mail</td>
        <td style="padding: 8px; border: 1px solid #efefef">{EMAIL}</td>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #efefef; font-weight: 600">Newsletter</td>
        <td style="padding: 8px; border: 1px solid #efefef">{NEWSLETTER}</td>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #efefef; font-weight: 600">Zamówienie</td>
        <td style="padding: 8px; border: 1px solid #efefef">{ATTACHMENT_NAME}</td>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #efefef; font-weight: 600">Data zamówienia</td>
        <td style="padding: 8px; border: 1px solid #efefef">{ORDER_DATE}</td>
      </tr>
    </table>

    <hr style="border: none; border-top: 1px solid #efefef; margin: 8px 0" />

    <p style="font-size: 12px; color: #888888; margin-bottom: 16px">
      Wygenerowane automatycznie, nie odpowiadaj na tę wiadomość.
    </p>
  </div>
</body>

</html>
