<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">

  <style>
    .logo-dark {
      display: none;
    }

    @media (prefers-color-scheme: dark) {
      .email-wrapper {
        background-color: #1e1e1e !important;
        border-color: #343434 !important;
        color: #f3f3f3 !important;
      }

      .logo-light {
        display: none !important;
      }

      .logo-dark {
        display: block !important;
      }
    }
  </style>
</head>

<body>
  <div class="email-wrapper"
    style="font-family: 'Open Sans', Arial, sans-serif; color: #1e1e1e; border: 1px solid #efefef; background-color: #ffffff; line-height: 1.5; max-width: 640px; margin: 0 auto; padding:16px">
    <img class="logo-light" src="cid:zbawieniepl-logo-light" alt="Zbawienie.pl"
      style="width: 250px; height: auto; margin-top: 16px" />
    <img class="logo-dark" src="cid:zbawieniepl-logo-dark" alt="Zbawienie.pl"
      style="display: none; width: 250px; height: auto; margin-top: 16px" />

    <!-- <p style="margin-bottom: 16px">Cześć {FIRST_NAME},</p> -->

    <p style="margin-bottom: 16px; font-weight: 600">
      Dziękujemy za zamówienie {ATTACHMENT_TITLE}. Znajdziesz go w&nbsp;załączniku do tej wiadomości.
    </p>

    <p style="margin-bottom: 16px">
      Zachęcamy Cię do przeczytania i&nbsp;podzielenia się opinią lub pytaniami na <a
        href="mailto:redakcja@zbawienie.pl">redakcja@zbawienie.pl</a>.
    </p>

    <p style="margin-bottom: 16px">
      Jeśli chcesz porozmawiać na inne tematy dotyczące Pana Boga i&nbsp;Pisma Świętego, również zapraszamy
      Cię do kontaktu. Postaramy się odpowiedzieć na każdą wiadomość.
    </p>

    <p style="margin-bottom: 16px">
      Zapraszamy również do odwiedzenia strony zbawienie.pl, gdzie znajdziesz wiele artykułów na
      tematy Biblijne, które opowiadają o&nbsp;Planie zbawienia ludzkości i&nbsp;o&nbsp;nadchodzącym Królestwie
      Bożym.
    </p>

    <p style="margin-bottom: 16px">
      Pozdrawiamy serdecznie,
      <br />
      Redakcja Zbawienie.pl
    </p>
  </div>
</body>

</html>
